body {
    background-color: #0e1114;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 2%;
	align-items: center;
	text-align: center;
}

h1 {
    font-size: 6vmin;
}

span {
	color: #01e6cd;
}

div.container-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 73vh;
}

div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    justify-items: center;
    justify-content: center;
	align-items: center;
    width: 80vw;
}

div.get {
	width: 42.5vh;
	height: 60vh;
	border-color: white;
	border: solid;
	border-radius: 5%;
	justify-content: center;
	align-items: center;
	transition: transform .2s;
	display: grid;
	grid-template-columns: 1fr;
}

div.get:hover {
	transform: scale(1.1);
	background-color: rgba(255, 255, 255, 0.080);
}


div.post {
	width: 42.5vh;
	height: 60vh;
	border-color: white;
	border: solid;
	border-radius: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .2s;
	display: grid;
	grid-template-columns: 1fr;
}

div.post:hover {
	transform: scale(1.1);
	background-color: rgba(255, 255, 255, 0.080);
}

div.name {
	margin-bottom: 1vh;
	/* margin-top: 3vh; */
}

div.mail {
	margin-bottom: 1vh;
	margin-top: 3vh;
}

div.phone {
	margin-bottom: 1vh;
	margin-top: 3vh;
}

div.btn {
	margin-bottom: 7vh;
	margin-top: 8vh;
}

label {
	width: 15%;
	display: inline-block;
}

input {
	display: inline-block;
	background-color: white;
	border-radius: 29px;
	font-size: 15px;
	border: 1px solid white;
	padding: 10px 45px;
	margin: 10px;
}

input.file {
	background-color: #0e1114;
}

input::file-selector-button {
	background-color: transparent;
	border-radius: 29px;
	border: 1px solid white;
	color: white;
	margin-right: 5px;
	cursor: pointer;
}

input::file-selector-button:hover {
	background-color: white;
	color: #0e1114;
	border-color: #0e1114;
	transition: 0.3s;
}

div.delete {
	width: 42.5vh;
	height: 60vh;
	border-color: white;
	border: solid;
	border-radius: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .2s;
	display: grid;
	grid-template-columns: 1fr;
}

div.delete:hover {
	transform: scale(1.1);
	background-color: rgba(255, 255, 255, 0.080);
}

input.submit {
	background-color: #0e1114;
	border-radius: 29px;
	border: 1px solid white;
	color: white;
	font-size: 15px;
    padding: 10px 45px;
	cursor: pointer;
	transition: 0.3s;
}

input.submit:hover{
	background-color: white;
	color: #0e1114;
	border-color: #0e1114;
	transition: 0.3s;
}

.button{
    background-color: #0e1114;
	border-radius: 29px;
	border: 1px solid white;
	color: white;
	font-size: 15px;
    padding: 10px 45px;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover{
	background-color: white;
	color: #0e1114;
	border-color: #0e1114;
	transition: 0.3s;
}

button.submit{
    background-color: #0e1114;
	border-radius: 29px;
	border: 1px solid white;
	color: white;
	font-size: 15px;
    padding: 10px 45px;
	cursor: pointer;
	transition: 0.3s;
}

button.submit:hover{
	background-color: white;
	color: #0e1114;
	border-color: #0e1114;
	transition: 0.3s;
}

div.container-text {
    padding: 1rem;
}

a {
	text-decoration: none;
	color: #01e6cd;
}

@media only screen and (max-width: 1520px) {
	div.container-button {
		vertical-align: middle;
		height: 100%;
	}

	div.grid {
		display: grid;
		margin: auto;
    	grid-template-columns: 1fr;
    	grid-gap: 3rem;
		padding: 50px;
	}
}

@media only screen and (max-width: 650px) {
	div.get {
		width: 100%;
		height: 100%;
	}

	div.post {
		width: 100%;
		height: 100%;
	}

	input {
		width: 50%;
	}

	div.delete {
		width: 100%;
		height: 100%;
	}
}

